* {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightblue;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

#game-board .cell {
  border: 5px solid black;
}

.cell {
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

#winningMessageText {
  margin-top: 2rem;
}
